[submodule "mod_proxy_cluster"]
	path = mod_proxy_cluster
	url = https://github.com/modcluster/mod_proxy_cluster
[submodule "mod_cluster-testsuite"]
	path = mod_cluster-testsuite
	url = https://github.com/modcluster/mod_cluster
[submodule "mod_cluster-1.3.x"]
	path = mod_proxy_cluster-1.3.x
	url = https://github.com/modcluster/mod_cluster
	branch = 1.3.x
[submodule "demo-webapp"]
	path = demo-webapp
	url = https://github.com/web-servers/demo-webapp
[submodule "ci.modcluster.io"]
	path = ci.modcluster.io
	url = https://github.com/modcluster/ci.modcluster.io.git
