name: CI
on:
  push:
    branches:
      - '*'
    paths-ignore:
      - '.gitignore'
      - '**.md'
      - 'LICENSE'
      - '.github/dependabot.yml'
      - '.github/workflows/manual.yml'

  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '.gitignore'
      - '**.md'
      - 'LICENSE'
      - '.github/dependabot.yml'
      - '.github/workflows/manual.yml'

jobs:

  perf-run:
    # This will cause the job being skipped on PRs originating from the main repository
    # which is OK, because in that case the regular `push` trigger will run the workflow
    if: ${{ github.head_ref == '' && github.repository == 'jajik/mod_proxy_cluster-perf-comparison' }}
    name: ${{ contains(matrix.os, 'arm') && 'ARM' || 'x86' }} (${{ matrix.tomcat_count }} tomcats, ${{ matrix.tomcat_affected }} affected by ${{ matrix.tomcat_action }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, ubuntu-24.04-arm ]
        tomcat_count: [ 2, 20, 50 ]
        tomcat_affected: [ 0, 0.5, 0.7 ]
        tomcat_action: [ 'disable', 'shutdown' ]
        exclude:
          - tomcat_count: 2
            tomcat_affected: 0.7

          - tomcat_count: 50
            tomcat_affected: 0

          - tomcat_count: 2
            tomcat_affected: 0
            # this is arbitrary, the action is not run with tomcat_affected: 0
            tomcat_action: 'disable'

          - tomcat_count: 20
            tomcat_affected: 0
            # this is arbitrary, the action is not run with tomcat_affected: 0
            tomcat_action: 'disable'

          - tomcat_count: 20
            os: ubuntu-24.04-arm

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Set environment variables
        run: |
          ACTION=$(echo ${{ matrix.tomcat_action }} | tr [:lower:] [:upper:])
          if [ ${{ matrix.tomcat_count }} -le 30 ]; then echo "HTTPD_LOG_LEVEL=debug" >> $GITHUB_ENV; fi

          echo "TOMCAT_COUNT=${{ matrix.tomcat_count }}" >> $GITHUB_ENV
          VAL=$(echo "${{ matrix.tomcat_count }} * ${{ matrix.tomcat_affected }}" | bc | cut -f1 -d.)
          echo "${ACTION}_RANDOMLY=$VAL" >> $GITHUB_ENV
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Get dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install gcc maven git curl iproute2 wcstools g++ cmake liblist-moreutils-perl
      - name: Setup  performance tests
        run: sh setup.sh
      - name: Run performance tests
        run: sh run-suite.sh
      - name: Make a summary of test runs
        run: |
          perl summary.pl output/ | tee summary && cp summary output/summary-for-${{ contains(matrix.os, 'arm') && 'ARM' || 'x86' }}-${{ matrix.tomcat_count }}-tomcats-${{ matrix.tomcat_affected }}-affected-by-${{ matrix.tomcat_action }}
          # preserve environment variables as well
          printenv > output/envvars
      - name: Check Status 200
        run: |
          if [ $(grep -c "Status 200" summary) -eq 0 ]; then exit 1; fi
      - name: Preserve output
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Output-for-${{ contains(matrix.os, 'arm') && 'ARM' || 'x86' }}-${{ matrix.tomcat_count }}-tomcats-${{ matrix.tomcat_affected }}-affected-by-${{ matrix.tomcat_action }}
          path: output/*

